{% extends 'base.html.twig' %}

{% block body %}
    <h1>Planificateur de Tâche</h1>
    <h2>Accueil de l'application</h2>
    <div id="citations">
        <p>"Si vous ne le faite pas, rien ne sera possible. Mais si vous essayez, au moins vous aurez un espoir."</p>
    </div>
{% endblock %}